.scheduleSection{
  background: #FFFFFF;
  border-radius: 4px;
  padding: 10px 20px;
}
.title{
  text-align: center;
  font-size: 13pt;
  margin-bottom: 10px;
}
.warning{
  text-align:center;
  font-size: 11pt;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 15px;
}
