.watch{
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 4px;
}
.wrap{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.img{
  width: 360px;
  padding: 4px;
  border-radius: 4px;
  background: #D3D3D3;
}
.video{
  display: block;
  height: 420px;
  width: 100%;
}
.videotttt{
  width: 100%;
}

.socialNetwork{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  *{
    display: inline-block;
    position: relative;
    height: 50px;
    flex: 0 1 285px;
    border-radius: 5px;
    &:hover{
      .networkImg{
        scale: 1.05;
      }
    }
  }
}
.networkImg{
  width: 100%;
  position: absolute;
  transition: 0.3s;
}
.episodes{
  gap: 5px;
  padding: 10px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.episodeBtn{
  border: none;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 10px;
  background: #da2e2e;
  cursor: pointer;
  &:hover{
    background: #a81717;
  }
}