.watch{
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 4px;
}
.wrap{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.img{
  width: 360px;
  padding: 4px;
  border-radius: 4px;
  background: #D3D3D3;
}
.socialNetwork{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  *{
    display: inline-block;
    position: relative;
    height: 50px;
    flex: 0 1 285px;
    border-radius: 5px;
    &:hover{
      .networkImg{
        scale: 1.05;
      }
    }
  }
}
.networkImg{
  width: 100%;
  position: absolute;
  transition: 0.3s;
}